body,
html {
  height: 100%;
  margin: 0 auto;
}

.site-header{
    background: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    /* height: ; */
}

.gnav__menu{
    display: flex;
}

.gnav__menu__item{
    margin-left: 20px;
}

.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}

.site-header{
    background: rgba(255,255,255,0.5);
    display: flex;
    padding: 60px 20px;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
}
.site-header.transform{
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

/* パララックス  */
/*--コンテンツ設定--*/
.area {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 180px;
    padding: 5% 0;
}

h2 {
    font-family: 'Impact';
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
}

.cp_h2title{
	position: relative;
	padding: .3em;
}
.cp_h2title:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, rgb(79, 87, 87), transparent);
}

.area p {
    text-align: center;
    font-size: 14px;
}

/*--固定背景の設定--*/
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1  {
  background-image: url("../img/top.jpg");
}

.cd-fixed-bg p{
    text-align: center;
    padding: 20%;
    opacity: 0.6;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Italianno', cursive;
}

/* about me */
.main-photo {
    display: flex;
    overflow: hidden;
}

.main-photo img {
    width: 300px;
    height: 450px;
    margin-left: 90px;
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

.main-photo img:hover{
    filter: grayscale(0);
    transition-duration: 0.5s;
  }

.main-pro {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.main-pro p {
    font-size: 20px;

}

.profile {
    /* margin-left: 30px; */
}

h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

.intro {
    /* margin-left: 150px;
    margin-top: 60px; */
}


/* work */
.works-list {
    margin-top: 100px;
	display: flex;
	justify-content: space-between;
    text-align: center;
}

.works-list li{
    display: flex;
    flex-direction: column;
}

.works-list button {
    width: 70px;
    height: 30px;
    margin-top: 20px;
    margin-left: 130px;
    opacity: 0.8;
}


.works-list li img {
    width: 330px;
    height: 250px;
    margin-bottom: 30px;
}
/* 
#works ul li a:hover {
    opacity: 0.8;
  }

#works ul li a img {
    width: 200px;
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }

.bigimg {
    position: absolute;
    width: 80%;
    max-width: 800px;
    top: 80px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

.close-btn {
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 0;
  }

.close-btn a {
    color: #fff;
    text-decoration: none;
  } */


/* footer */

footer {
    margin-top: 100px;
    border-top : 3px double #000000;
}

.footer-pic {
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-pic img{
    width: 110px;
    height: 150px;
}

/* sns ボタン */

.sns-button{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    text-decoration: underline;
}

.sns-button i{
    margin: 8px;
}

.my-red{
    color: rgba(202, 43, 194, 0.829);
}

.my-skyblue{
    color: #1da1f2;
}

.my-blue{
    color: #3b5998;
}

.second-footer p{
    font-size: 12px;
    height: 30px;
    margin-top: 8px;
    text-align: center;
}