body,
html {
  height: 100%;
  margin: 0 auto;
}

.site-header{
    background: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: ;
}

.gnav__menu{
    display: flex;
}

.gnav__menu__item{
    margin-left: 20px;
}

.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}

.site-header{
    background: rgba(255,255,255,0.5);
    display: flex;
    padding: 60px 20px;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
}
.site-header.transform{
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

/* パララックス  */
/*--コンテンツ設定--*/
.area {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 180px;
    padding: 5% 0;
}

h2 {
    font-family: 'Impact';
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
}

.cp_h2title{
	position: relative;
	padding: .3em;
}
.cp_h2title:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, rgb(79, 87, 87), transparent);
}

.area p {
    text-align: center;
    font-size: 14px;
}

/*--固定背景の設定--*/
.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1  {
  background-image: url("../img/top.jpg");
}

.cd-fixed-bg p{
    text-align: center;
    padding: 20%;
    opacity: 0.6;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Italianno', cursive;
}

/* about me */
.main-photo {
    display: flex;
    justify-content: space-between;
}

.main-photo img {
    width: 300px;
    height: 450px;
    margin-left: 50px;
}

.main-photo p {
    font-size: 20px;

}

.profile {
    margin-left: 30px;
}

h3 {
    font-size: 20px;
}

.intro {
    margin-left: 50px;
    margin-top: 40px;
}


/* (work) slider */




/* footer */
.footer-pic {
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-pic img{
    width: 90px;
    height: 120px;
}

/* sns ボタン */

.my-red{
    color: rgba(202, 43, 194, 0.829);
}

.my-skyblue{
    color: #1da1f2;
}

.my-blue{
    color: #3b5998;
}

.second-footer p{
    background-color:rgba(204, 204, 204, 0.918);
    height: 30px;
    margin-top: 8px;
    text-align: center;
}